<input type="text" [(ngModel)]="DataInput">
<div>{{DataMessage}}</div>
<br>
<button (click)="gProses('sg')">Generate segitiga</button>
<button (click)="gProses('gj')">Bilangan Ganjil</button>
<button (click)="gProses('pr')">Bilangan Prima</button>

<button (click)="gProsesBc('sg')">Generate segitiga backend</button>
<button (click)="gProsesBc('gj')">Bilangan Ganjil backend</button>
<button (click)="gProsesBc('pr')">Bilangan Prima backend</button>
<hr>
<div *ngFor="let x of resultHelper">
{{x}}

</div>